.grid-container {
  display: grid;
  gap: 1rem;
  @apply py-4;
}

.grid-item {
  background-color: var(--background-hyper);
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.grid-item:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.grid-item img {
  width: 100%;
  height: 7rem;
  padding-top: 0.75rem;
  object-fit: contain;
  transition: opacity 0.3s ease;
}

.grid-item:hover img {
  opacity: 0.9;
}

.grid-item-content {
  padding: 0.75rem;
}

.grid-item-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
  text-align: left;
}

.grid-item-description {
  font-size: 0.7rem;
  margin-bottom: 0.4rem;
  text-align: left;
}

.grid-item-price {
  font-size: 0.7rem;
  margin-bottom: 0.4rem;
  text-align: left;
}

.grid-item-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.category {
  font-size: 0.7rem;
  font-weight: 500;
  padding: 0.2rem 0.4rem;
  border-radius: 0.25rem;
}

@media (min-width: 350px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 560px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1280px) {
  .grid-container {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 720px) {
  .grid-item img {
    height: 6rem;
  }
}

@media (max-width: 460px) {
  .grid-item img {
    height: 5rem;
  }
  
  .grid-item-content {
    padding: 0.5rem;
  }
}

@media (max-width: 380px) {
  .grid-item img {
    height: 4.5rem;
  }

  .grid-item-title {
    font-size: 0.875rem;
  }

  .grid-item-description {
    font-size: 0.65rem;
  }

  .grid-item-price {
    font-size: 0.65rem;
    margin-bottom: 0.4rem;
    text-align: left;
  }

  .category {
    font-size: 0.65rem;
    padding: 0.15rem 0.3rem;
  }
}
