/* Horizontal Icons */

/* ///////////////////////// */
/* Icons */
.social-icons-horizontal-icons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  @apply flex flex-row space-x-4 items-center transition duration-300 ease-in-out transform hover:scale-110 cursor-pointer ease-in-out;
}

.social-icons-horizontal-icons:hover {
  @apply filter drop-shadow-[0_0_2em_#646cffaa];
}

.social-icons-horizontal-icons.react:hover {
  @apply filter drop-shadow-[0_0_2em_#61dafbaa];
}

/* ///////////////////////// */
/* Item */
.social-icon-item-horizontal-icons {
  width: 2rem;
  height: 2rem;
  fill: currentColor;
}

.social-icon-item-horizontal-icons:hover,
.social-icon-item-vertical-icons-with-name:hover {
  color: #646cff;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Vertical Icons with Name */
.social-icons-vertical-icons-with-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.social-icon-item-a-vertical-icons-with-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 1rem;
}

.social-icon-item-vertical-icons-with-name {
  fill: currentColor;
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
}

.social-icon-item-vertical-icons-with-name path {
  color: var(--primary-text-color);
  fill: var(--primary-text-color);
}

.social-icon-item-vertical-icons-with-name span {
  margin-left: 0.5rem;
}

@media (max-width: 768px) {
  .name {
    @apply text-xl;
  }

  .social-icons {
    @apply space-x-2;
  }
}