.social-icons {
  @apply flex flex-row space-x-4 items-center transition duration-300 ease-in-out transform hover:scale-110 cursor-pointer ease-in-out;
}

.social-icons:hover {
  @apply filter drop-shadow-[0_0_2em_#646cffaa];
}

.social-icons.react:hover {
  @apply filter drop-shadow-[0_0_2em_#61dafbaa];
}

/* .social-icon {
  color: var(--background-color);
  fill: var(--background-color);
  color: #fff;
  fill: #fff;
} */

/* Horizontal Icons */
.social-icon-horizontal-icons {
  height: 2rem;
  width: 2rem;
  /* color: var(--background-color);
  fill: var(--background-color); */
}

.social-icon-horizontal-icons path {
  color: white;
  fill: white;
}

@media (max-width: 768px) {
  .name {
    @apply text-xl;
  }

  .social-icons {
    @apply space-x-2;
  }
}

/* Vertical Icons with Name */
.social-icon-vertical-icons-with-name {
  height: 2rem;
  width: 2rem;
  /* color: var(--background-color);
  fill: var(--background-color); */
  /* color: black;
  fill: black; */
}

.social-icon-vertical-icons-with-name path {
  /* height: 8rem;
  width: 8rem; */
  /* color: var(--background-color);
  fill: var(--background-color); */
  color: black;
  fill: black;
}

.vertical-icons-with-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.vertical-icons-with-name a {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.vertical-icons-with-name .social-link {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

/* .vertical-icons-with-name svg {
  margin-right: 1rem;
  width: 50px;
  height: 50px;
  color: #000;
} */

/* .vertical-icons-with-name span {
  font-size: 12px;
  text-align: left;
  margin-top: 0;
} */

.vertical-icons-with-name:hover {
  transform: none;
  filter: none;
}

.social-icon {
  fill: purple;
  stroke: purple;
}
